$checkbox-width: 17px;
$checkbox-height: 17px;

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: $checkbox-width;
  height: $checkbox-height;
}

input[type="checkbox"]:indeterminate::before {
  content: "";
  display: block;
  color: white;
  width: $checkbox-width;
  height: $checkbox-height;
  background-color: #3b99fc;
  box-sizing: border-box;
}

input[type="checkbox"]:indeterminate::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 2px 0 0 0;
  position: absolute;
  top: 8px;
  left: 3px;
  box-sizing: border-box;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: $checkbox-width;
  height: $checkbox-height;
  background-color: white;
  border: 1.5px solid #3b99fc;
  box-sizing: border-box;
}

input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: $checkbox-width;
  height: $checkbox-height;
  background-color: #3b99fc;
  box-sizing: border-box;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
  box-sizing: border-box;
}
