@import "../../../styles/core/mixins";

.fileStatus {
  display: flex;
  align-items: center;
}

.fileStatus__blinker {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 10px;
}

.fileStatus__blinker--warn {
  background-color: $state-warning-color;
  animation: pulse-warn 2s infinite;
}

.fileStatus__blinker--success {
  background-color: $state-success-color;
  animation: pulse-success 2s infinite;
}

.fileStatus__blinker--unknown {
  background-color: $state-unknown-color;
  animation: pulse-unknown 2s infinite;
}

@include pulse(warn, $state-warning-color);
@include pulse(success, $state-success-color);
@include pulse(unknown, $state-unknown-color);
