<template>
  <div class="fileStatus">
    <span class="fileStatus__blinker fileStatus__blinker--${statusBlinkerClass}"
          data-automation-id="fileStatus__blinker">
    </span>
    <span class="fileStatus__text"
          data-automation-id="fileStatus__text">
      ${statusText}
    </span>
  </div>
</template>
