<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Super Selector</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="icon"
        href="favicon.ico">
  <!-- imported CSS are concatenated and added automatically -->
</head>

<body aurelia-app="main">
</body>

</html>
