$border-color: #e5e1e1;
$row-hover-color: #f6f6f6;
$row-selected-color: darken($row-hover-color, 3);

$state-success-color: #28a745;
$state-warning-color: #ffc107;
$state-error-color: #dc3545;
$state-unknown-color: #6c757d;

* {
  box-sizing: border-box;
}

html {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
  background-color: #f6f1f1;
  font-size: 16px;
}

.appWrapper {
  padding: 5px;
  display: table;
  width: 100%;
}

@import "./core/utilities";
@import "./core/checkbox";

// app components
@import "./../components/app/file-viewer/file-viewer";
@import "./../components/app/file-status/file-status";
