.fileViewer {
  border: 1px solid $border-color;
  background-color: #fff;
}

.fileViewer__table {
  width: 100%;
  border-spacing: 0;
}

.fileViewer__toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  height: 50px;
  font-size: 1.125rem;
}

.fileViewer__toolbarCounterWrap {
  padding-left: 10px;
  margin-right: 30px;
  min-width: 150px;
}

.fileViewer__toolbarActionsWrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileViewer__toolbarAction {
  border: 0;
  background-color: #fff;
  height: 100%;
  padding: 0 20px;

  &:not([disabled]) {
    &:hover {
      cursor: pointer;
      background-color: $row-hover-color;
    }
  }
}

.fileViewer__toolbarActionTitle {
  margin-left: 5px;
}

.fileViewer__toolbarTriStateWrap {
  text-indent: 0;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileViewer__headerCell {
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid $border-color;
}

.fileViewer__headerCell__status {
  text-indent: 20px;
}

.fileViewer__tbody {
  font-size: 0.875rem;
}

.fileViewer__contentCell {
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid $border-color;
}

.fileViewer__cellCheckbox {
  vertical-align: middle;
}

.fileViewer__contentRow {
  cursor: pointer;

  &:last-child {
    .fileViewer__contentCell {
      border-bottom: 0;
    }
  }

  &:hover {
    background-color: $row-hover-color;
  }
}

.fileViewer__contentRow--selected {
  background-color: $row-selected-color;
}
