<template>
  <require from="../../core/tri-state-checkbox/tri-state-checkbox"></require>
  <require from="../file-status/file-status"></require>

  <div class="fileViewer"
       data-automation-id="fileViewer">
    <div class="fileViewer__toolbar">
      <div as-element="tri-state-checkbox"
           class="fileViewer__toolbarTriStateWrap"
           state.bind="filesSelectionCheckboxState"></div>
      <div class="fileViewer__toolbarCounterWrap">
        <span if.bind="selectedFileIds.length > 0">
          Selected:
          ${selectedFileIds.length}
        </span>
        <span if.bind="selectedFileIds.length === 0">
          None Selected
        </span>
      </div>
      <div class="fileViewer__toolbarActionsWrap">
        <button type="button"
                disabled.bind="!canDownload"
                click.trigger="handleDownload()"
                class="fileViewer__toolbarAction util__fxAll">
          <i class="fa-solid fa-download"></i>
          <span class="fileViewer__toolbarActionTitle">
            Download Selected
          </span>
        </button>

        <button type="button"
                repeat.for="customAction of customActions"
                disabled.bind="customAction.disabled"
                click.trigger="customAction.handler()"
                class="fileViewer__toolbarAction util__fxAll">
          <i class="fa-solid fa-${customAction.icon}"></i>
          <span class="fileViewer__toolbarActionTitle">
            ${customAction.title}
          </span>
        </button>
      </div>
    </div>
    <table class="fileViewer__table">
      <colgroup>
        <col style="width: 40px;">
        <col>
        <col>
        <col>
        <col style="width: 200px;">
      </colgroup>
      <thead>
        <tr class="fileViewer__headerRow">
          <th class="fileViewer__headerCell fileViewer__headerSelectCell"></th>
          <th class="fileViewer__headerCell util__textLeft">Name</th>
          <th class="fileViewer__headerCell util__textLeft">Device</th>
          <th class="fileViewer__headerCell util__textLeft">Path</th>
          <th class="fileViewer__headerCell fileViewer__headerCell__status util__textLeft">Status</th>
        </tr>
      </thead>

      <tbody class="fileViewer__tbody">
        <tr repeat.for="file of data"
            click.delegate="rowClickHandler(file, $event)"
            class="fileViewer__contentRow util__fxAll ${file.$isSelected ? 'fileViewer__contentRow--selected' : ''}">
          <td class="fileViewer__contentCell fileViewer__selectCell">
            <input type="checkbox"
                   data-selection-chk="true"
                   class="fileViewer__cellCheckbox"
                   change.delegate="checkboxChangeHandler(file, $event.target.checked)"
                   checked.bind="file.$isSelected">
          </td>
          <td class="fileViewer__contentCell util__textLeft">
            ${file.name}
          </td>
          <td class="fileViewer__contentCell util__textLeft">
            ${file.device}
          </td>
          <td class="fileViewer__contentCell util__textLeft">
            ${file.path}
          </td>
          <td class="fileViewer__contentCell util__textLeft">
            <div as-element="file-status"
                 status.bind="file.status"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
