<template>
  <require from="./components/app/file-viewer/file-viewer"></require>

  <main class="appWrapper">
    <div as-element="file-viewer"
         data.bind="files"
         custom-actions.bind="customActions">
    </div>
  </main>
</template>
